@media (max-width: 1024px) {
    .slider {
        &__item {
            max-width: 30%;
            &_active {
                max-width: 40%;
            }
        }
        &__arrow {
            bottom: 12%;
        }
    }
    .about {
        &__description {
            margin-bottom: 46px;
        }
        &__list {
            grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
        }
        &__item {
            padding-top: 96px;
            background-position: top left;
            padding-left: 0;

        }
    }
}
@media (max-width: 768px) {
    .header {
        &__navigation {
            display: none;
        }
    }
    .hero {
        padding: 40px 0;
        &__title {
            font-size: 40px;
            margin-bottom: 24px;
        }
    }
    .slider {
        &__item {
            max-width: 25% !important;
            &_active {
                max-width: 50% !important;
            }
        }
        &__arrow {
            width: 40px;
            bottom: 30%;
        }
    }
    .price {
        padding: 40px 0;
		&__title {
            font-size: 32px;
            margin-bottom: 16px;
		}
		&__wrapper-content {
            &::before {
                content: none;
            }
		}

		&__content {
            flex-basis: 100%;
		}

		&__list {
            margin-bottom: 40px;
		}
    }
    .about {
        padding: 40px 0;
        &__description {
            margin-bottom: 32px;
        }
        &__title {
            margin-bottom: 24px;
            font-size: 32px;
        }
        &__list {
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        }
        &__item {
            padding-left: 96px;
            padding-top: 0;
            background-position: left;

        }
        &__item-title {
            font-size: 16px;
        }
    }
    .reserve {
        padding: 40px 0 80px;
        &__title {
            font-size: 32px;
        }
        &__list {
            margin-bottom: 40px;
        }
        &__form-container {
            margin-bottom: 32px;
        }
        &__fieldset {
            margin-bottom: 40px;
            &_sub {
                margin-bottom: 20px;
            }
        }
        &__legend {
            font-size: 16px;
            margin-bottom: 16px;
        }
        
    }
    .radio {
        &__label {
            padding: 12px 16px;
            font-size: 12px;
            &_spec {
                &:before {
                    width: 24px;
                    height: 24px;
                }
            }
            &_spec1 {
                padding-left: 40px;
                background-size: 24px;
            }
            &_spec2 {
                padding-left: 40px;
                background-size: 24px;
            }
            &_spec3 {
                padding-left: 40px;
                background-size: 24px;
            }
            &_spec4 {
                padding-left: 40px;
                background-size: 24px;
            }
            &_spec5 {
                padding-left: 40px;
                background-size: 24px;
            }
        }
    }
}
@media (max-width: 560px) {
    .container {
        padding: 0 24px;
    }
    .main-link {
        padding: 10px 24px;
        font-size: 12px;
    }
    .header {
        &__container {
            padding-top: 12px;
            padding-bottom: 13px;
        }
    }
    .navigation {
        &__list {
            gap: 16px;
            flex-direction: column;
            align-items: flex-start;

        }
        &__link {
            font-size: 12px;
        }
    }
    .hero {
        padding: 32px 0;
        &__title {
            font-size: 24px;
            margin-bottom: 16px;
            max-width: 420px;
        }
    }
    .slider {
        padding-bottom: 20px; 
        &__item {
            max-width: 100% !important;
        }
        &__arrow {
            bottom: 0 !important;
            &_left {
                left: 0 !important;
            }
            &_right {
                right: 0 !important;
            }
        }   

    } 
    .price {
        padding: 32px 0;
		&__title {
            font-size: 20px;
            margin-bottom: 8px;
		}
		&__tagline {
            font-size: 12px;
            margin-bottom: 24px;
		}
		&__list {
            margin-bottom: 24px;
		}
		&__item {
            line-height: 1.2;
            font-size: 12px;
            padding-bottom: 6px;
            margin-bottom: 16px;
		}
    }
    .about {
        padding: 32px 0;
        &__title {
            font-size: 20px;
            margin-bottom: 16px;
        }
        &__description {
            font-size: 12px;
        }
        &__item {
            padding-left: 72px;
            min-height: 64px;
            background-size: 64px;
        }
        &__list {
            grid-template-columns: minmax(272px, 1fr);
        }
    }
    .reserve {
        padding: 32px 0 64px;
        &__title {
            font-size: 20px;
            margin-bottom: 16px;
        }
        &__list {
            padding-left: 18px;
            margin-bottom: 32px;
            font-size: 12px;
            line-height: 120%;
        }
        &__form-container {
            margin-bottom: 24px;
        }
        &__fieldset {
            margin-bottom: 32px;
        }
        
    }
    .footer {
        &__container {
            grid-template-columns: 1fr;
            gap: 32px;
        }
        &__navigation {
            justify-self: flex-start;
        }
        &__developers {
            font-size: 10px;
            padding-left: 0;
        }
        &__copyright {
            font-size: 10px;    
        }
    }

}

