.reserve {
    padding: 62px 0 124px;

    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__list {
        padding-left: 24px;
        margin: 0 0 72px;
        line-height: 150%;
    }

    &__item {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__form-container {
        margin-bottom: 40px;
    }

    &__fieldset {
        padding: 0;
        border: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 72px;
        gap: 8px;
        &:last-child {
            margin-bottom: 0;
        }

        &_sub {
            flex-basis: 100%;
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__legend {
        flex-basis: 100%;
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

}
.radio {

    &__input {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:focus + .radio__label {
            color: #241D1C;
            background: #F6F3E3;
        }
        &:checked + .radio__label {
            color: #241D1C;
            background: #F6F3E3;
        }
        &:disabled + .radio__label {
            opacity: .3;
        }
    }
    &__label {
        display: inline-block;
        padding: 16px 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid #BFBDB2;
        border-radius: 36px;
        &:hover:not(:disabled) {
            color: #EFE7BE;
        }

        &_spec {
            position: relative;
            padding-left: 52px;
            &:before {
                content: '';
                position: absolute;
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-image: var(--bg-image);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        &_spec1 {
            padding-left: 52px;
            background-image: url('../img/spec1.png');
            background-size: 36px;
            background-position: 8px;
            background-repeat: no-repeat;
        }
        &_spec2 {
            padding-left: 52px;
            background-image: url('../img/spec2.png');
            background-size: 36px;
            background-position: 8px;
            background-repeat: no-repeat;
        }
        &_spec3 {
            padding-left: 52px;
            background-image: url('../img/spec3.png');
            background-size: 36px;
            background-position: 8px;
            background-repeat: no-repeat;
        }
        &_spec4 {
            padding-left: 52px;
            background-image: url('../img/spec4.png');
            background-size: 36px;
            background-position: 8px;
            background-repeat: no-repeat;
        }
        &_spec5 {
            padding-left: 52px;
            background-image: url('../img/spec5.png');
            background-size: 36px;
            background-position: 8px;
            background-repeat: no-repeat;
        }
    }
}

